# Load Data

In [12]:
from sklearn.datasets import load_iris
iris = load_iris()

# Structure the data into a data frame

In [14]:
import pandas as pd 
X = pd.DataFrame(data = iris.data, columns = iris.feature_names)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

# Descriptive analysis on the data frame

In [17]:
y = pd.DataFrame(data=iris.target, columns = ['Species'])
y.head()

   Species
0        0
1        0
2        0
3        0
4        0

In [18]:
import pandas as pd
data=pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# Output desired values/data

In [21]:
y.Species.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [19]:
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64