In [ ]:
In this script, we:
1. Connet Colab to our Google Drive
2. Read a file from Github as a RAW file into a Pandas data frame
3. Summarize that data
4. Read a file from Google Drive into a separate Pandas data frame

# Connet Colab to Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Read a file from Github as a RAW file into a Pandas data frame

In [ ]:
import pandas as pd
ChicagoData = pd.read_csv('https://raw.githubusercontent.com/menonpg/covid19_Chicago/master/timeSeries_COVID19_Chicago.csv')

In [ ]:
ChicagoData.head()

   Cases  Deaths        Date
0    598       4  2020-03-24
1    949       5  2020-03-25
2   1882      15  2020-03-28
3   1975      15  2020-03-29
4   2611      26  2020-03-31

# Summarize that data

In [ ]:
print("Min values by column \n" + str(ChicagoData.aggregate( 'min' )) + '\n\n')
print("Max values by column \n" + str(ChicagoData.aggregate( 'max' )))

Min values by column
Cases            598
Deaths             4
Date      2020-03-24
dtype: object


Max values by column
Cases          53654
Deaths          2637
Date      2020-07-06
dtype: object

In [ ]:
ChicagoData.to_csv("timeSeries_COVID19_Chicago.csv", index=False)

ChicagoData.to_csv("/content/drive/My Drive/DATA/timeSeries_COVID19_Chicago.csv", index=False)

# Read a file from Google Drive into a separate Pandas data frame

In [ ]:
print("Min values by column \n" + str(ChicagoData.aggregate( 'min' )) + '\n\n')
print("Max values by column \n" + str(ChicagoData.aggregate( 'max' )))

Min values by column
Cases            598
Deaths             4
Date      2020-03-24
dtype: object


Max values by column
Cases          53654
Deaths          2637
Date      2020-07-06
dtype: object